*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Inter', sans-serif;
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Pacifico', cursive; */
    list-style: none;
    
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    /* color: #000; */

}

:root{
    --bg-color: rgb(255, 255, 255);
    --second-bg-color: rgb(149, 98, 239);
    --main-color:rgb(183, 41, 244);
    --text-color:#000;
    --second-color:#6726ad;
    --other-color: #eba7e9;
    --h1-font: 7rem;
    --h2-font: 3.5rem; 
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}

header{
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;

}
.logo img{
    width: 50%;
    height: auto;

}

.navlist{
    display: flex;

}
.navlist a{
    color: var(--second-color);
    font-size: 1rem;
    font-weight: 600;
    margin: 0 30px;
    transition: all ease .40s;
    

}

.navlist a:hover{
    transform: translateX(5px);
    color: #fff;
    background: rgb(165, 52, 175);
    padding: 15px;
    border-radius: 5px;
    
    
}

#menu-icon{
    font-size: 42px;
    z-index: 10001;
    color: var(--text-color);
    cursor: pointer;
    display: none;

}
section{
    padding: 120px 19% 100px;
}
.home{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url(img/h1.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.hero-text h3{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 10px;
}
.hero-text h1{
    font-family: 'Oswald', sans-serif;;
    font-size: var(--h1-font);
    color: var(--second-color);
    font-weight: 800;
    margin-bottom: 20px;

}
.hero-text h4{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    word-spacing: 15px;
    margin-bottom: 3.5rem;
}
.btn{
    display: inline-block;
    padding: 16px 45px;
    background: var(--main-color);
    color: #fff;
    border-radius: 7px;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all ease .50s;


}
.btn:hover{
    transform: translateX(5px);
    background: transparent;
    border: 2px solid rgb(44, 160, 255);
    color: var(--main-color);
}
header.sticky{
    padding: 15px 11%;
    background: #fff;
    border-bottom: 1px solid grey;

}

.about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    align-items: center;
    gap: 4rem;
}
.about-img{
    width: 100%;
    height: auto;
}
.about-text h2{
    font-family: 'Dosis', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}
.about-text h5{
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
}
span{
    color: var(--main-color);
}
.about-text p{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    line-height: 30px;
    margin-bottom: 3rem;
}
.service{
    background: white;

}

.text-center{
    text-align: center;
}

.text-center h2{
    font-family: 'Dosis', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}
.text-center h4{
    font-size: 22px;
    font-weight: 500;
}
.service-item{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    align-items: center;
    gap: 2.2rem;
    text-align: center;
    margin-top: 4rem;

}

.service-box{
    font-size: 22px;
    color: #fff;
    padding: 45px 30px;
    background-color: var(--main-color);
    border-radius: 0.8rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all ease .50s;
}
.service-box:hover{
    transform: scale(1.08);
    background: transparent;
    border: 2px solid rgb(44, 160, 255);
    color: var(--main-color);

}

.service i{
    font-size: 50px;
    /* color: var(--main-color); */
    margin-bottom: 10px;

}

.service h3{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 12px;

}
.service p{
    font-size: 1.5rem;
    line-height: 30px;
    margin-bottom: 1.5rem;
}

.project-item{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,auto));
    align-items: center;
    gap: 2.2rem;
    text-align: center;
    margin-top: 4rem;

}

.project-box{
    font-size: 22px;
    color: #fff;
    padding: 45px 30px;
    background-color: rgb(108, 3, 109);
    border-radius: 0.8rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all ease .50s;
}
.project-box:hover{
    transform: scale(1.08);
    background: transparent;
    border: 2px solid rgb(44, 160, 255);
    color: var(--main-color);

}
.project-box img{
    width: 100%;
    height: 70%;
    margin-bottom: 15px;
}
.project i{
    font-size: 50px;
    /* color: var(--main-color); */
    margin-bottom: 10px;

}

.project h3{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 12px;

}
.project p{
    font-size: 1.5rem;
    line-height: 30px;
    margin-bottom: 1.5rem;
}

.end-section{
    padding: 80px 19% 70px;
    background: var(--other-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.end-section h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 70px;

}
.end-section p{
    color: #000;
    font-size: 1.5rem;
    line-height: 30px;
    margin-bottom: 20px;

}
.end-section i{
    height:40px;
    width: 40px;
    background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 50%;
    margin: 0px 9px;
    transition: all ease .50s;
}
.end-section i:hover{
    transform: translateY(-5px);
    background: transparent;
    color: #000;
    border: 2px solid var(--main-color);
}
.scroll-btn{
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
    color: black;
    background: var(--main-color);
    font-size: 25px;
    padding: 15px;
    border-radius: 1.8rem ;
}
